/* Color Themes in Hex
    .principal {color: #3df249;}
    .background {color: ##e372f2;}
    .fashion3 {color: #f20574;}
    .fasion4 {color: #f20587;}
    .principal {color: #76f23d;}
*/

html {
    background: #e372f2;
    color: black;
}

/*
Atividades Abaixo
- Exercícios - Estilização textual
1. Aspectos gerais. Aplique os seguintes estilos na estrutura geral da página.
a. Defina um tamanho fixo para a página inteira
b. Defina uma fonte do tipo sans-serif para a página inteira
c. Indente os parágrafos em 1em

2. Títulos. Alinhe todos os títulos para o centro ou a direita.
a. Defina o tamanho do h1 em 1.8rem
b. Defina o tamanho do h2 em 1.4rem
c. Defina o tamanho do h3 em 1.2rem

3. Seções de resumo e principal. Localize os elementos que representam a seção
de resumo e principal da página, e aplique nelas:
a. Alinhamento a direita ou centralizado para a seção de resumo.
b. Espaçamento entre as linhas de 1.5 para os parágrafos da seção principal.

4. Abreviaturas. Customize todos as abreviaturas para que a fonte seja carregada
em small-caps .
*/

html {
    font-size: 16px; /* Tamanho fixo para a página */
    font-family: Arial, sans-serif; /* Fonte sans-serif */
    text-indent: 1em; /* Indentação dos parágrafos */    
}

h1{
    font-size: 1.8rem; /* Tamanho do h1 */
}

h2{
    font-size: 1.4rem; /* Tamanho do h2 */
}
h3{
    font-size: 1.2rem; /* Tamanho do h3 */
}

.summary {
    text-align: right; /* Alinhamento centralizado para a seção de resumo */
}

.main p
{
    line-height: 1.5; /* Espaçamento entre as linhas para os parágrafos da seção principal */
}

abbr { font-variant: small-caps;}

/*

Exercícios - Box Model

1. Vamos definir algumas diretivas gerais para nossa página.
- Defina a largura geral da página em 80%, limitado a no máximo 1280px de largura. ok
Centralize a página na tela. ok
- Defina a altura da seção de introdução em 550px. ok
- Remova o container #design-archives da renderização da página. ok
2. Agora vamos incrementar o cabeçalho da página.
- Inverta a cor do cabeçalho aplicando o fundo escuro e a fonte clara. ok
- Coloque título e subtítulo lado-a-lado, mas mantendo espaçamento entre eles e o
restante da página. ok
- Adicione um espaçamento lateral de 1em para o título principal. ok
3. É hora de incrementar os menus!
- Remova os bullets dos itens de menu presentes no painel lateral. ok
- Aumente o espaçamento entre os itens do menu para 1em, pelo menos. ok
- Centralize os itens presentes em cada menu. ok
4. Por fim, vamos aplicar uma inversão de cores no rodapé para ele ganhar um contraste
em relação ao restante da página. ok
- Adicione 4% de espaçamento externo no rodapé. ok
- Transforme cada link do rodapé em uma caixa colocando borda sólida de 2px, e
espaçamento interno de 0.5em. ok

*/

html {
    width: 80%;
    max-width: 1280px; /* Largura máxima da página */
    margin: 0 auto; /* Centraliza a página na tela */
}

.intro
{
    height: 550px; /* Altura da seção de introdução */
}


#design-archives {
    display: none; /* Remove o container #design-archives da renderização */
}

header {
    background-color: #333; /* Fundo escuro para o cabeçalho */
    color: white; /* Fonte clara para o cabeçalho */
    display: flex; /* Coloca título e subtítulo lado-a-lado */
    justify-content: space-between; /* Espaçamento entre título e subtítulo */

}

h1 {
    margin-left: 0 1em; /* Espaçamento lateral para o título principal */
}

li {
    list-style-type: none;
    margin: 2em;
}

.sidebar {
    display: flex;
    justify-content: center;
}

footer {
    
    padding: 1em; /* Espaçamento interno do rodapé */
    margin: 4% 0; /* Espaçamento externo no rodapé */
    
}

footer a {
    border: solid 2px #72f283;
    padding: 1em; /* Espaçamento interno do rodapé */
    margin: 4% 0; /* Espaçamento externo no rodapé */
} 

/*Exercícios - Posicionamento

O foco dessa atividade será reposicionar os elementos da nossa página!
1. Defina o elemento .page-wrapper como referência para posicionamento. ok
2. Faça com que o painel .explanation ocupe 60% da largura disponível, mas crie um
espaçamento a direita de 35% utilizando margin . ok
- Adicione uma borda à direita do painel de 1px, com a cor #1f295c . ok
- Adicione um espaçamento interno de 2% no lado direito do painel. ok
3. Agora mova o menu de designs para a direita da página, ocupando o espaço em branco
deixado pelo elemento .explanation.
- Faça-o iniciar na parte superior da página, após a parte de introdução (por exemplo,
aplicando top: 560px ).
- Faça-o iniciar após o elemento .explanation (por exemplo, aplicando left: 62% ).
- Adicione um espaçamento interno horizontal de 2% no menu para centralizá-lo.
*/


.page-wrapper {
    position: relative; /* Define o elemento .page-wrapper como referência para posicionamento */
}

.explanation {
    width: 60%; /* Ocupa 60% da largura disponível */
    margin-right: 35%; /* Espaçamento à direita de 35% */
    border-right: 1px solid #1f295c; /* Borda à direita do painel */
    padding-right: 2%; /* Espaçamento interno de 2% no lado direito do painel */
    
}

#design-selection {
    position: absolute; /* Mover o menu de designs para a direita da página */
    top: 400px; /* Iniciar na parte superior da página, após a parte de introdução */
    left: 62%; /* Iniciar após o elemento .explanation */
    padding: 0 2%; /* Espaçamento interno horizontal de 2% no menu */
}

/*
    Exercícios - Flexbox
Na atividade deste capítulo iremos aprimorar o layout de nossa página utilizando o flexbox.
1. Aplique o flexbox no rodapé da seção principal, e posicione os links de forma que fiquem
centralizados e com espaçamento entre eles.
- Defina um mesmo tamanho para os links.
- Não se esqueça de tratar o caso de quebra de linha.
2. Configure um layout de flexbox para a seção de benefícios da seguinte forma:
- O texto deve ficar à esquerda, e o título à direita.
- O título deve ficar centralizado verticalmente.
- O texto deve ocupar aproximadamente 70% da largura, e o título 30%.
3. Configure um layout de flexbox para a seção de participação da seguinte forma:
- Cada item deve ocupar 50% do espaço disponível.
- O título deverá ficar centralizado verticalmente.
4. Inclua uma linha no topo e embaixo das seções de benefícios e participação, utilizando a
propriedade border-bottom e border-top respectivamente.
- Remova a ocorrência de borda duplicada entre as duas seções
*/

.support-footer {
    display: flex; /* Aplica o flexbox no rodapé da seção principal */
    justify-content: space-evenly; /* Centraliza os links */
    
}

.benefits {
    display: flex; /* Configura o layout de flexbox para a seção de benefícios */
    border-top: rgb(72, 255, 0) solid 1px;
    border-bottom: rgb(72, 255, 0) solid 1px;}

.benefits p {
    flex-basis: 70%; 
}

.benefits h3{
    order: 3;
    align-self: center;
    flex-basis: 30%; /* O título ocupa 30% da largura */
}

.participation {
    display: flex; /* Configura o layout de flexbox para a seção de participação */
    flex-wrap: wrap;
}

.participation h3, .participation p {
    flex-basis: 50%; /* Cada item ocupa 50% do espaço disponível */
    align-self: center; /* O título fica centralizado verticalmente */
}
.participation h3 {
    align-self: center; /* Garante que o título fique antes do parágrafo */
}

